<div class="contact">
    <a href="/@System.Threading.Thread.CurrentThread.CurrentUICulture.Name.Substring(0, 2)/@Resources.IMRResources.Disclaimer">
        <img src="~/img/icon_contact.jpg" alt="">
        <p>@Resources.IMRResources.Contact_Please</p>
    </a>
</div>
