@{
    ViewBag.Title = Resources.IMRResources.Home;
    var mainBoxSettings = (IEnumerable<IMR.ViewModels.SettingDetailVM>)ViewBag.MainBoxSettings;
}

<div class="jumbotron">
    <embed width="100%" height="100%" name="plugin" src="http://www.imrgmbh.de/fileadmin/templates/imr_webspecial_en.swf" type="application/x-shockwave-flash">
</div>

<div class="row main-box">
    @foreach (var mainBoxSetting in mainBoxSettings)
    {
        <div class="col-md-4">
            <h3>@mainBoxSetting.Name</h3>
            <img src="~/img/@mainBoxSetting.Avatar" width="75" height="52" border="0" alt="">
            @Html.Raw(mainBoxSetting.Description)
            <p><a class="btn btn-default" href="~/@mainBoxSetting.Link">@Resources.IMRResources.More &raquo;</a></p>
        </div>
    }
</div>