body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.header{
    padding: 40px;
    position: relative;
}

.header p{
    position: absolute;
    max-width: 600px;
    top: 80px;
    left: 200px;
    font-size: 15px;
    font-style: italic;
    color: #666666;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color: white;
    background-color: black;
}

.navbar-default .navbar-nav > li:first-child > a{
      margin-left: -15px;
      padding-left: 30px;
      border-radius: 15px 0 0 15px;
}

.nav > li > a {
    padding: 15px 20px;
}

/*Responsive*/
@media (min-width: 768px){
    .menu {
      border-radius: 15px;
    }
}